* {
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    position: relative;
    height: 150px;
}

.header-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -1;
}

header > h1 {
    margin: 40px 20px 10px;
    font-size: 80px;
}
